DEBUG=1
SECRET_KEY=change_me
DJANGO_ALLOWED_HOSTS=localhost 127.0.0.1 [::1]
SQL_ENGINE=django.db.backends.postgresql
SQL_DATABASE=prod_db
SQL_USER=app
SQL_PASSWORD=app
SQL_HOST=db
SQL_PORT=5432
DATABASE=postgres
